//
//  Config.xcconfig
//  ExomindTest
//
//  Created by Lucas CHEN on 15/10/2024.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BASE_URL = openweathermap.org
BASE_API_URL = api.openweathermap.org
API_KEY = 25d26e4ea04643ed454d780bab182377
